src/main/resources/company.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="technicianType">
        <xs:sequence>
            <xs:element name="technicianID" type="xs:long" minOccurs="0"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="Email" type="xs:string"/>
            <xs:element name="Phone" type="xs:long"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>
    <xs:complexType name="techniciansType">
        <xs:sequence>
            <xs:element name="technician" type="technicianType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="companyType">
    <xs:sequence>
        <xs:element name="technicians" type="techniciansType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    </xs:complexType>
    <xs:element name="company" type="companyType" />
</xs:schema>